section[data-todo] {
  height: auto;
  max-height: 80vh;
  display: block;
  overflow: hidden scroll;
}

ul.pending-list {
  padding: 0;
}
ul.pending-list > li {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 5px;
}
ul.pending-list > li.done {
  transition: 0.2s;
  position: relative;
  transform: translateY(20vh);
  opacity: 0.3;
}
ul.pending-list > li.done > span {
  text-decoration: line-through;
}

button.btn-remove {
  color: coral;
  background: none;
  border: none;
}
