body {
  height: 100vh;
  width: 100vw;
  overflow: scroll hidden;
}

form {
  display: flex;
  justify-content: space-evenly;
}

form > input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  width: 60%;
  padding: 10px;
}

form > button {
  border-radius: 8mm;
  border: 1px solid gray;
  padding: 10px 20px;
}

div[data-fetch-more] {
  text-align: center;
  margin: 10px 0;
}
