section[data-navbar] {
  display: grid;
  grid-template-columns: 10% auto 20%;
  height: 40px;
  width: 100%;

  border-bottom: 1px solid gray;
  background: #fffbef;
}

section[data-navbar] > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span[role="img"] {
  cursor: pointer;
}
