section[data-sidebar] {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 75vw;
  z-index: 9;

  transform: translateX(-75vw);
  background: white;
  transition: 0.1s;
}

section[data-sidebar].open {
  transform: translateX(0vw);
  box-shadow: 2px 4px 8px -2px #00000042;
  padding: 0 20px;
}
